.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  animation: color-pulse 2s infinite;
}

@keyframes color-pulse {
  0% {
    background: var(--mantine-primary-color-6);
  }
  50% {
    background: var(--mantine-primary-color-5);
  }
  100% {
    background: var(--mantine-primary-color-6);
  }
}
