@use '~/sass/mantine' as *;

.card {
  background-color: var(--mantine-color-body);
}

.avatar {
  border: rem(2px) solid var(--mantine-color-body);
}

.name {
  color: currentColor;
}

.rank {
  font-weight: bold;
  padding-right: 0;
  font-size: 0.85em;
}
