@use '~/sass/mantine' as *;

.table {
  @include smaller-than($mantine-breakpoint-sm) {
    .desktopOnly {
      display: none;
    }
  }
}

.row {
  cursor: pointer;
}

.player {
  display: inline-block;
  vertical-align: middle;
}

.character {
  display: inline-block;
  vertical-align: middle;
  margin-right: var(--mantine-spacing-xs);
}

.name {
  display: inline;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-0));
  padding-right: 5px;
}

.tier {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wins {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.progressLabel {
  font-size: rem(9px);
}

.th {
  padding: 0;
}

.thControl {
  width: 100%;
  padding: var(--mantine-spacing-xs);

  @include hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.thIcon {
  width: rem(21px);
  height: rem(21px);
  border-radius: rem(21px);
}

.winrate {
  @include larger-than($mantine-breakpoint-md) {
    width: rem(150);
  }
}
