.control {
  width: 34px;
  height: 34px;
  // border-radius: var(--mantine-radius-md);
  // border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;

  [data-mantine-color-scheme='light'] & {
    border-color: var(--mantine-color-gray-3);
    color: var(--mantine-color-gray-7);
    // background-color: var(--mantine-color-white);
  }

  [data-mantine-color-scheme='dark'] & {
    border-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-white);
    // background-color: var(--mantine-color-dark-6);
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.icon {
  width: 22px;
  height: 22px;
}

.dark {
  [data-mantine-color-scheme='dark'] & {
    display: none;
  }

  [data-mantine-color-scheme='light'] & {
    display: block;
  }
}

.light {
  [data-mantine-color-scheme='light'] & {
    display: none;
  }

  [data-mantine-color-scheme='dark'] & {
    display: block;
  }
}
